@{
    ViewData["Title"] = "Inicio";
}

<div class="contenido">
    <div class="publicidad">
        <a href="#"><img src="~/img/varios/starcard.jpg" /></a>
        <a href="#"><img src="~/img/varios/cinefilo-star.jpg" /></a>
    </div>
    <div class="contenido-interno" id="contenido-interno">
        <br />
        <div style="text-align:center;">
            <img src="~/img/varios/logo-cinestar.png" style="opacity: 0.5; margin-top: 50px;" />
        </div>
    </div>
</div>
<div class="clearbox"><br /></div>